.container{
    background-color: rgb(249, 234, 211);
    width: 800px;
    padding: 25px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}
.showbtn{
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    margin-left: 10px;
    margin-right: 10px;
    border-color: rgb(131, 30, 226);
    background-color: rgba(29, 216, 8, 0.62);
    color: rgb(131, 30, 226);
    font-weight:900;
    font-size: larger;
}
.vote{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;    
}
.btn{
    margin-top: 12px;
    margin-bottom: 5px;
}
.row{
    display: flex;
    flex-direction: row;
}
.foodInfo{
    text-align: left;
    width: 500px;
}
.Img{
    margin-top : 20px;
    width: 250px;
    height: 190px;
}


